.summary {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color:  rgba(220, 130, 211, 0.2);
    border-radius: 5px;
    width: 80%;
}
.title {
    padding-bottom: 5%;
}
