.navbar {
    width: 100%;font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 5%;
    padding-bottom: 10%;
    .nav-item {
        margin-right: 15px;
        cursor: pointer;
        border-bottom: 2px solid rgba(90, 90, 190, 0.5);
        &:hover {
            border-bottom: 2px solid #0c5088;
        }

    }
}
@keyframes load {
    0% {
        background: #fff;
        border: 0px solid #fff;
    }
    50% {
        background: #fff;
        border: 5px solid #095F62;
    }
    100% {
        background: #fff;
        border: 0px solid #095F62;
    }
}